<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<a href="/">Inicio</a>
    <h1><%= title %>:</h1>
    <p>Luis Cristobal Lopez Garcia y Angel Moreno Cañete</p>
    <img src="/images/tunomami.jpg" width="500px" alt="Foto tunomami">
  </body>
</html>